{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<h1>Settings</h1>
<a href="{{url_for('users.user_profile')}}" class="btn btn-primary">My account</a>
<a href="{{url_for('users.report')}}" class="btn btn-primary">Report a user</a>
<a href="{{url_for('users.black_list')}}" class="btn btn-primary">Black list</a>
<a href="{{url_for('users.content_filter')}}" class="btn btn-primary">Content filter</a>
<a href="{{url_for('users.unregister')}}" class="btn btn-danger">Unregister</a>
{% endblock %}
